[Unit]
Description=Boring Sudoku Web - Web app to play Sudoku
#Requires=
#After=

[Service]
Type=simple

# Replace "<install_directory>" below with the directory in which you installed
# main.py. For example: /usr/local/boring_sudoku_web/. This needs to be done
# since the app will look for configuration files in the current directory.
WorkingDirectory=<install_directory>
ExecStart=<install_directory>/main.py

# Similar to using "nobody," but more secure.
DynamicUser=yes

[Install]
WantedBy=default.target

